.idea/.gitignore
.idea/advent-of-code.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
day05/__pycache__/day05.cpython-39.pyc
day05/__pycache__/test_day05.cpython-39-pytest-6.2.5.pyc
